body{
    background-color: black;
        margin: 0;
    }
    header{
    width: 100%;
  display: inline-block;
    }
    .lateral{
        width: 15%;
        height: 0.1vh;
        background-color: black;
        position: sticky;
        top: 4%;
        text-align: center;
      
    }
    
    #principal{
      display: inline-block;
      background-color: purple;
       height: 10vh; 
       width: auto; 
       margin-left: 20%;
       
    }
    .btnentrada{
      width: 10%;
      height: 5%;
      background-color:#9b0b44;
    }
    .foco1{ 
        height: 67vh;
        width: 84.5%;
        border: solid;
        display: inline-block;
        position: absolute;
        padding-bottom: 10%;
        background-image: url("imagens/cactus.png");
        background-size: cover;
        margin-left: 15%;
        filter: brightness(50%);
       
       
    }
    .titulo{
     font-size: 400%;
        text-align: center;
      margin-top: 20%;
      color: white;
      font-family: "Oswald", arial, sans-serif;
      filter: brightness();
    }
    .texto{
        color: white;
        text-align: center;
      font-family: "Quicksand",arial, sans-serif;
      font-optical-sizing: auto;
          font-size: 120%;
     
    }
    
    .imagem{
       display: inline-block;
        position: relative;
        width: 27.5%; height: 33vh; border: solid;
      object-fit: cover;
       background-size: cover;
       overflow: hidden;
      }
      .imagem img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s;
      }
      .imagem:hover img{
        filter: brightness(40%);
      }
  
      svg{ height: 25px;
      position: absolute;
    top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: 1s;
  }
  .imagem:hover svg{
    opacity: 1;
    top: 50%;
  }
    
    
    .ELIT{
      font-family: "Quicksand", arial, sans-serif;
        background-color: black;
        font-size: 20px;
        color: white;
        font-weight: bold;
        margin-right: 20%;
    }
    .circulo{
      width: 164px;
      height: 53px;
      background-color: rgb(233, 14, 98);
      color: white;
      text-decoration: none;
      border-radius: 30px;
      text-align: center;
      line-height: 53px;
      margin-top: 3.7%;
      font-size: 110%;
      font-family: "Oswald", arial, sans-serif;;
      margin-left: 44%;
      border: none;
    }
    .btns{
      font-family: "Quicksand", arial, sans-serif;
      background-color: black;
      color: white;
        margin-left: 5%;
        font-size: 80%;
        text-align: left;
    }
    .letramenor{font-size: 10px;
        background-color: black;
        color: white;
        font-weight: bold;
       margin-left: 5%;}
       #test{
        height: 150vh;
        background-color: blueviolet;
       }
       .testimonial{
        font-family: "Oswald", arial, sans-serif;
        color: white;
        margin-left: 49%;
        font-size: 400%;
        font-weight: 400;
       }
    .jean{
        margin-left: 52%;
        border-radius: 50%;
     
    }
    .jean1{
        margin-left: 55%;
        font-weight: 600;
        color: white;
        font-family: "Quicksand", arial, sans-serif;
    }
    .jean2{
        margin-left: 16.5%;
        color: #7c7c7a;
        text-align: center;
        font-family: "Quicksand", arial, sans-serif;
    }
    .bio{
      margin-left: 15%;
        width: 85%;
        height: 180vh;
        background-color: #171715;
    }
    .teste{
      font-family: "Oswald", arial, sans-serif;
      color: white;
      margin-left: 21%; 
      font-size: 250%; 
      font-weight:400;
    }
    .biography{
      font-family: "Oswald", arial, sans-serif;
        color: white;
        margin-left: 21%;
        font-size: 400%;
        font-weight: 400;
    }
    .textos{
        color: #7c7c7a;
        margin-left: 21%;
        font-size: 110%;
        font-family: "Quicksand", arial, sans-serif;
    }
    .ata{
        margin-left: 21%;
    }
    a{ text-decoration: none;}
    
  
    a:link {
        color: #df0e62;
      }
      
      
      a:visited {
        color: #df0e62;
      }
      
      
      a:hover {
        color: #9b0b44;
      }
      .lista{
        position: relative;
        padding-left: 35px;
        margin-bottom: 15px;
        line-height: 1.5;
        color: #7c7c7a;
        font-family: "Quicksand", arial, sans-serif;
        margin-left: 21%;
        font-size: 110%;
      }
      .lista2{
        position: absolute;
        padding-left: 300px;
        top: 600vh;
        font-family: "Quicksand", arial, sans-serif;
        margin-bottom: 15px;
        line-height: 1.5;
        color: #7c7c7a;
        margin-left: 21%;
        font-size: 110%;
      }
      .bio2{
        background-color: #171715 ;
        display: inline;
      }
   
     .blog-item{
     width: 55%;
      display: inline-flex;
     margin-left: 24%;
     }
     .titulos{
      color: white;
      font-weight: 400;
      font-size: 160%;
      display: inline;
      font-family: "Oswald", arial, sans-serif;
      margin-left: 10%;
     }
     .info{
      color: #7c7c7a;
      font-family: "Quicksand", arial, sans-serif;
      font-size: 110%;
      display: inline;
     }
     svg{
      height: 20px;
      fill: white;
  }
  #coração:hover{
      fill: rgb(233, 14, 98);
  }
  .final{
    width: 85%;
     height: 110.7vh;
     margin-left: 15%;
    background-color: #171715;
  }
  .pe{
    width: 100%;
    height: 12vh;
    background-color: black;
    color: white;
    font-family: "Quicksand", arial, sans-serif;
      font-size: 110%;
    
  }
  .blog{
    color: white; margin-left: 35%; 
    font-size: 450%;
    font-family: "Oswald", arial, sans-serif;
  
  }
  .contact{
    font-family: "Oswald", arial, sans-serif;
    color: white;
    margin-left: 23.5%;
  
    font-size: 400%;
    font-weight: 400; 
  }
  .cadastro{
    color: white;
    font-family: "Quicksand", arial, sans-serif;
    margin-left: 23%;
  
  }
  .numeros{margin-left: 2.3%;
     margin-top: 5%;
     font-family: "Quicksand", arial, sans-serif;
    }
    .info{
      margin-left: 10%;
    }